MONGODB_URL = "mongodb+srv://<name>:<password>@mern.wntsceg.mongodb.net/MERN?retryWrites=true&w=majority&appName=MERN"
TOKEN_SECRET_KEY = "ASKDFJKLASDJFENKLAKSDFDLDFK"
FRONTEND_URL = "http://localhost:3000"
PORT = "8080"